#page-full-width {
  @include grid-row();
  margin-top: $global-margin;

  .main-content {
    @include breakpoint(small) {
      @include grid-column(12);
    }
  }
}


#map {
	height: 400px;
    width: 100%;
    margin-bottom: $global-margin;
}

